
$small-font-size:16px;
$large-font-size:24px;


//rgba(177,55,33,1)
$red:#B13721;
$blue:#2190B1;
$grey:rgba(0,0,0,0.4);
$solid-grey:#999999;

$animation-easing-function : cubic-bezier(0.4, 0.0, 0.2, 1);
