
@mixin font-family ($name, $styles, $format, $sel:none) {
	@each $style in $styles {
		$st_name:nth($style,1);
		$st_weight:nth($style,2);
		$st_style:nth($style,3);
		@font-face {
			font-family:$name;
			src:url(../fonts/#{$name+$st_name}.#{$format});
			font-weight:$st_weight;
			font-style:$st_style;
		}
	}
	@if($sel != none) {
		#{$sel} {
			font-family:$name;
		}
	}
}

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@mixin min-max-font-size($min-font-size, $max-font-size, $min-breakpoint, $max-breakpoint) {
  font-size: calc(#{$min-font-size} + (#{strip-units($max-font-size)} - #{strip-units($min-font-size)}) * (100vw - #{$min-breakpoint}) / (#{strip-units($max-breakpoint)} - #{strip-units($min-breakpoint)}));
}

@include font-family(PlutoSans, ((-Heavy, bold, normal), (-HeavyItalic, bold, italic), (-Italic, normal, italic), (-Regular,normal,normal)), otf, html);
@include font-family(AptiferSlab, ((-Bold, normal, normal),), otf);

html {
	@include min-max-font-size($small-font-size,$large-font-size,400px,800px);
}
